body {
    margin-top: 20px;
    min-height: 200vh;
    font-family: sans-serif;
    line-height: 3;
}
/*BOX PETROLIO*/
.box { 
    height: 100px;
    padding-top: 20px;
    border: 1px solid black;
    background: rgba( 0, 150, 136, 1);
}
/* BOX BIANCO*/
.box-2 {
    height: 100px;
    padding-top: 20px;
    text-align: center;
    border: 1px solid black;
    background: #fff;
}
/* BOX PETROLIO CHIARO*/
.box-3 {
    height: 100px;
    padding-top: 20px;
    text-align: center;
    border: 1px solid black;
    background: rgba( 150, 232, 232, 1);
}
/*ICONS*/
.icone {
    font-size: 75px;
    margin-left: 20px;
}
.icone-2 {
    font-size: 75px;
}
.icone-b {
    font-size: 75px;
    color:white;
}
.icone-b-m {
    font-size: 75px;
    padding-left: 25px;
    color:white;
}