body {
    min-height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(35deg, #00ffd2, #0eb1ef)
}
h1,
h2 {
    margin-bottom: 2rem;
    font-weight: 400;
    text-align: center;
}
h2 {
    margin-top: 2rem;
}
.box {
    padding: 10px;
    text-align: center;
    background-color:rgba(56,89,210, 0.5);
    border: 1px solid rgba(0, 0,0, 0.3);
}